@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define colores personalizados */
:root {
  --background: #000000; /* Negro suave */
  --foreground: #e0e0e0; /* Gris claro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Negro más suave */
    --foreground: #f5f5f5; /* Gris casi blanco */
  }
}

/* Asegúrate de aplicar el fondo personalizado */
body {
  color: var(--foreground);
  background-color: var(--background) !important; /* Sobrescribe cualquier otro color */
  background-image: url('/fondo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Darker Grotesque', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

h3 {
  font-size: 24px;
}

h4 {
    text-align: center;
    font-size: 24px; /* Tamaño del texto */
    font-weight: 900;
    color: #fff2bf;
    margin: 0;
    /* Animación de parpadeo rápido */
    animation: quick-blink 2s infinite; /* Parpadeo cada 3 segundos */
  }


a{
  font-size: 32px;
  text-decoration: underline;
  color: rgb(194, 210, 252);
  padding: 60px;
}

.digital-key {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.digital-key:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0px 2px rgba(0, 0, 0, 0.06);
}
